<div class="content-wrapper">

<div class="card-wrapper">
  <app-clock></app-clock>
  <mat-card class="overview">
    <div class="card-image">
      <img src="../../../assets/images/logo-large.svg" alt="">
    </div>
    <div class="card-content">
      <h1>Payarc Overview</h1>
      <p>We are a technology-driven company built for businesses. We know the challenges of starting and managing a business, so we embarked on a journey to provide smart and simple payment processing tools and products. Backed by a team of world-class experts and innovative technology, we are committed to helping businesses of all sizes get started, optimize revenue streams, and bridge the gap between online merchants and payment solutions.</p>
      <p>
        We are dedicated to empowering businesses to improve their organization – one payment at a time. For more information, visit <a href="https://payarc.com/" target="_blank" rel="noopener noreferrer">https://payarc.com/</a>.
      </p>
    </div>
  </mat-card>
</div>
<div class="cards-wrapper">
  <mat-card class="options">
    <h2>Payarc Terminals</h2>
    <p>Ever wondered about those mysterious NABU fees on your statement?</p>
    <a href="">Enter</a>
  </mat-card>
  <mat-card class="options">
    <h2>Payarc + Curv</h2>
    <p>Ever wondered about those mysterious NABU fees on your statement?</p>
    <a href="">Enter</a>
  </mat-card>
  <mat-card class="options">
    <h2>Payarc Banks</h2>
    <p>Ever wondered about those mysterious NABU fees on your statement?</p>
    <a href="">Enter</a>
  </mat-card>
</div>


</div>
