<div class="content-wrapper">

  <div class="card-wrapper">
    <app-clock></app-clock>
    <mat-card class="overview">
      <div class="card-image">
        <img src="../../../assets/images/office-work.png" alt="">
      </div>
      <div class="card-content">
        <h1>Payarc Training</h1>
        <p>In tiered pricing, each credit card transaction falls into a pricing category: qualified, mid-qualified, and non-qualified. Qualified rates are the lowest, and you might think that most of your credit card transactions fall into the qualified category. Not so! Downgrades can occur for several reasons, including, but not limited to:</p>
      </div>
    </mat-card>
  </div>
</div>
