@import "../../../styles.scss";
:host {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}

.time {
  width: 80vw;
  color: #707070;
  font-size: 3rem;
  line-height: 2.5rem;
  text-align: right;
  font-weight: bold;
  font-family: $poppins;
}

.date {
  font-size: 1.1rem;
}
