@import "../../../styles.scss";
.time {
  width: 80vw;
  color: #707070;
  text-align: right;
  font-family: $poppins;
}

.time {

  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.date {
  font-size: 1.1rem;
}
