<div class="content-wrapper">
  <div class="card-wrapper">
    <mat-card class="overview">
      <div class="card-image">
        <img src="../../../assets/images/office-work.png" alt="">
      </div>
      <div class="card-content">
        <h1>Payarc Training</h1>
        <p>In tiered pricing, each credit card transaction falls into a pricing category: qualified, mid-qualified, and non-qualified. Qualified rates are the lowest, and you might think that most of your credit card transactions fall into the qualified category. Not so! Downgrades can occur for several reasons, including, but not limited to:</p>
      </div>
    </mat-card>
  </div>

  <div class="expansion-wrapper">
    <mat-accordion class="example-headers-align" multi>

      <mat-expansion-panel (opened)="onPanelOpen(0)" (closed)="onPanelClose(0)">
        <mat-expansion-panel-header [ngClass]="{'opened': isPanelOpen[0]}">
          <mat-panel-title>
            <mat-icon svgIcon="p-training-large"></mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            <h3>Apply app</h3>
            <p>The Apply app is an online application tool that allows merchants to fill out and submit their onboarding application and documentation.</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="completion">
            <input type="checkbox" checked>
            <h4>Completed</h4>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="onPanelOpen(1)" (closed)="onPanelClose(1)">
        <mat-expansion-panel-header [ngClass]="{'opened': isPanelOpen[1]}">
          <mat-panel-title>
            <mat-icon svgIcon="p-training-large"></mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            <h3>Admin Portal</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="completion">
            <input type="checkbox" checked>
            <h4>Completed</h4>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="onPanelOpen(2)" (closed)="onPanelClose(2)">
        <mat-expansion-panel-header [ngClass]="{'opened': isPanelOpen[2]}">
          <mat-panel-title>
            <mat-icon svgIcon="p-training-large"></mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            <h3>Merchant Portal</h3>
            <p>he merchant portal is an online platform for merchants that allows them to manage all aspects of their business, such as account information, run payments, and set-up subscriptions and recurring payments.</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="completion">
            <input type="checkbox">
            <h4>Completed</h4>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="onPanelOpen(3)" (closed)="onPanelClose(3)">
        <mat-expansion-panel-header [ngClass]="{'opened': isPanelOpen[3]}">
          <mat-panel-title>
            <mat-icon svgIcon="p-training-large"></mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            <h3>Curv POS</h3>
            <p>The Curv POS system is our all-in-one online ordering platform with all the digital tools restaurant owners need to manage orders, process payments, customize menus, organize employees, and improve customer engagement.</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="completion">
            <input type="checkbox">
            <h4>Completed</h4>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>


</div>
<app-payarc-training-stepper [currentStepIndex]="currentStepIndex" [completionStatus]="completionStatus"></app-payarc-training-stepper>
