::ng-deep .mdc-list-item__primary-text {
	display: flex;
}

mat-sidenav {
	margin: 1rem;
	display: flex;
	width: 3.5rem;
	min-height: 90vh;
	box-shadow: inset 0 0 5px 3px #00000029;
	border-radius: 0.6rem;
	transition: width 0.3s;

	.logo-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.5rem;
		margin-bottom: 5rem;

		img {
			width: 2.5rem;
			height: auto;
			padding-top: 1rem;
			cursor: pointer;
		}

		mat-icon {
			font-size: 2rem;
			cursor: pointer;

			&.collapse {
				opacity: 0;
        color: #121744;
			}
		}
	}

	mat-nav-list {
		width: 100%;

		a {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		mat-icon {
			color: #707070;
		}

		.nav-text {
			font-size: 0.9rem;
			margin-left: 0.8rem;
			opacity: 0;
		}

		.second-icon {
			position: absolute;
			right: 1rem;
			opacity: 0;
		}
	}

	.nav-text {
		opacity: 0;
	}
}

.expanded {
	width: 250px;

	.logo-container {
		mat-icon {
			&.collapse {
				opacity: 1;
				transition: opacity 1s;
			}
		}
	}

	mat-nav-list {
		width: 100%;

		.nav-text {
			opacity: 1;
			transition: opacity 1s;
		}

		.second-icon {
			opacity: 1;
			transition: opacity 1s;
		}
	}

	.nav-text {
		opacity: 1;
		transition: opacity 1s;
	}
}

.rotate {
	transform: rotate(180deg);
}
