mat-sidenav {
	margin: 1rem;
	display: flex;
	width: 3.5rem;
	min-height: 90vh;
	box-shadow: inset 0 0 5px 3px #00000029;
	border-radius: 0.6rem;
	transition: width 0.3s;

	.logo-container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		height: 200px;
		width: 3.5rem;

		img {
			width: 2.5rem;
			height: auto;
			padding-top: 1rem;
			cursor: pointer;
		}
	}

	mat-nav-list {
    width: 100%;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.nav-text {
      font-size: 0.9rem;;
			margin-left: 0.8rem;
			opacity: 0;

		}

    .second-icon {
      opacity: 0;
    }
	}
}

.expanded {
	width: 250px;

	mat-nav-list {
		.nav-text {
			opacity: 1;
      transition: opacity 0.1s;
		}

    .second-icon {
      opacity: 1;
    }
	}
}
