@import "../../../styles.scss";

::ng-deep .mdc-list-item__primary-text {
	display: flex;

	&:hover {
		background-color: transparent;
	}
}

mat-sidenav {
	display: flex;
	flex-wrap: wrap;
	width: 3.5rem;
	min-height: 96vh;
	margin: 1rem;
	box-shadow: inset 0 0 5px 3px #00000029;
	border-radius: 0.6rem;
	transition: width 0.3s;

	.logo-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.5rem;
		margin-bottom: 4rem;

		img {
			width: 2.5rem;
			height: auto;
			padding-top: 1rem;
			cursor: pointer;
		}

		mat-icon {
			font-size: 2rem;
			cursor: pointer;

			&.collapse {
				opacity: 0;
				color: #121744;
				padding-right: 0.7rem;
			}
		}
	}

	mat-nav-list {
		width: 100%;

		&.submenu {
			border-left: 2px solid $accent;
			margin: 0 1rem;
			width: 80%;

			a {
				height: 2rem;

				.nav-text {
					color: $accent;
					font-size: 0.9rem;
					margin: 0;
				}
			}
		}

		&.sub-submenu {
			border-left: 2px solid grey;
			margin: 0 1rem;

			a {
				height: 2rem;

				.nav-text {
					color: grey;
					font-size: 0.8rem;
					margin: 0;
				}
			}
		}

		a {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			&::before {
				background-color: transparent;
			}

			&:hover {
				mat-icon {
					color: $accent;
				}
				.nav-text {
					color: $accent;
				}
			}
		}

		mat-icon {
			color: #707070;
		}

		.nav-text {
			font-size: 0.9rem;
			font-weight: 400;
			margin-left: 0.8rem;
			opacity: 0;
		}

		.second-icon {
			position: absolute;
			right: 1rem;
			opacity: 0;
		}
	}

	.nav-text {
		opacity: 0;
	}

	.search {
		margin: 7rem 0 0;

		a {
      color: $primary;
      font-family: $poppins;
      display: flex;
			flex-wrap: wrap;
			align-items: center;
      text-decoration: none;
			padding: 0.7rem;
			margin: 0.5rem 0;

			&:hover {
				mat-icon {
					color: $accent;
				}
			}

			&:active {
				color: $primary;
			}

			mat-icon {
				color: #707070;
				height: 1rem;
				width: 1rem;
				margin: 0 0.5rem;
			}
		}
	}

	.profile {
		a {
      color: $primary;
      font-weight: 600;
      font-family: $poppins;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 0.7rem;
			margin: 0.5rem 0;

      mat-icon {
        &.profile-mine {
          color: $primary;
        }
      }

			&:hover {
				mat-icon {
					color: $accent;
				}
			}

			&:active {
				color: $primary;
			}

			mat-icon {
				color: #707070;
				height: 2rem;
				width: 2rem;
				margin-right: 0.8rem;
			}
		}
	}
}

.expanded {
	width: 16.5rem;

	.logo-container {
		mat-icon {
			&.collapse {
				opacity: 1;
				transition: opacity 1s;
			}
		}
	}

	mat-nav-list {
		width: 100%;

		a {
			&:hover {
				background-color: $accent-bgr;
			}
		}

		.nav-text {
			opacity: 1;
			transition: opacity 1s;
		}

		.second-icon {
			opacity: 1;
			transition: opacity 1s;
		}
	}

	.nav-text {
		opacity: 1;
		transition: opacity 1s;
	}


	.search, .profile {
		a {
			&:hover {
				background-color: $accent-bgr;
        color: $accent;
			}
		}
	}
}

.rotate {
	transform: rotate(180deg);
}
