/* You can add global styles to this file, and also import other style files */

$primary: #121744;
$accent: #63a5ed;
$accent-bgr: #d6e3f1;

$poppins: "Poppins", sans-serif;

$h1: 3rem;
$h2: 1.7rem;
$h3: 1.5rem;
$h4: 1.2rem;

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.content-wrapper {
	min-width: 55vw;
	min-height: 80vh;
	margin: 1rem;

  mat-card {
    margin: 0.5rem;
    padding: 1rem;
  }
}
