/* You can add global styles to this file, and also import other style files */

$primary: #121744;
$accent: #63A5ED;
$accent-bgr: #d6e3f1;

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}
